beautifulsoup4==4.12.2
certifi==2021.10.8
iniconfig==1.1.1
lxml==4.9.3
mccabe==0.6.1
platformdirs==4.0.0
pluggy==1.0.0
prettytable==2.1.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
six==1.16.0
soupsieve==2.3.1
tomli==2.0.1
tqdm==4.61.0
typing_extensions==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
zipp==3.7.0
